.navList {
    margin-right: 1.5em;
    display: flex;
}

.navListItem {
    margin-left: 1.5em;
}

@media (max-width: 600px) {
    .navList {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    .show {
        display: flex;
    }

    .hide {
        display: none;
    }

    .navListItem {
        margin: 0.5em 0;
    }
}