.page {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    color: var(--clr-fg);
    background-color: var(--clr-bg);
}

.light {
    --clr-bg: #fcfcfc;
    --clr-bg-alt: #fff;
    --clr-fg: #555;
    --clr-fg-alt: #444;
    --clr-primary: #6e8eff;
    --shadow: rgba(100, 100, 111, 0.12) 0px 8px 36px 0px;
}

.dark {
    --clr-bg: #23283e;
    --clr-bg-alt: #2a2f4c;
    --clr-fg: #bdbddd;
    --clr-fg-alt: #cdcdff;
    --clr-primary: #90a0d9;
    --shadow: rgba(0, 0, 0, 0.25) 0px 8px 32px 0px;
}

.main {
    width: 95%;
    max-width: 1100px;
    margin: 0 auto;
}

.section {
    margin-top: 5em;
}

.sectionTitle {
    text-align: center;
    margin-bottom: 1em;
    text-transform: uppercase;
}

.center {
    display: flex;
    align-items: center;
}

.notFound {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.link {
    color: var(--clr-primary);
    padding: 0 0 0.3em 0;
    position: relative;
}

.link:hover {
    color: var(--clr-primary);
}

.link::before {
    content: '';
    display: inline;
    width: 0%;
    height: 0.2em;
    position: absolute;
    bottom: 0;
    background-color: var(--clr-primary);
    transition: width 0.2s ease-in;
}

.link:hover::before,
.link:focus::before {
    width: 100%;
}

.linkNav {
    color: var(--clr-fg);
    /* text-transform: lowercase; */
    font-weight: 500;
}

.linkIcon {
    font-size: 1.5em;
    color: var(--clr-fg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    display: block;
    cursor: pointer;
    padding: 0.8em 1.4em;
    font-weight: 500;
    font-size: 0.9rem;
    /* text-transform: lowercase; */
    transition: transform 0.2s ease-in-out;
}

.btnOutline {
    color: var(--clr-primary);
    border: 2px solid var(--clr-primary);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btnOutline:hover,
.btnOutline:focus {
    color: var(--clr-bg);
}

.btnOutline:before {
    content: '';
    position: absolute;
    background-color: var(--clr-primary);
    right: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    z-index: -1;
    transition: right 0.2s ease-in-out;
}

.btnOutline:hover:before,
.btnOutline:focus:before {
    right: 0;
}

.btnPlain {
    text-transform: initial;
    background-color: var(--clr-bg-alt);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    border: 0;
}

.btnPlain:hover {
    transform: translateY(-4px);
}

.btnIcon {
    padding: 0;
}

.btnIcon:hover,
.btnIcon:focus {
    color: var(--clr-primary);
}

.btnIcon:active {
    transform: translateY(-5px);
}

/* Navbar Overwrite */
.btn.btnIcon.navHamburger {
    display: none;
    z-index: 2;
    margin-left: 0.8em;
    margin-top: 0.4em;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

.btn.btnIcon.navTheme {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .section {
        margin-top: 4em;
    }

    /* Navbar Overwrite */
    .btn.btnIcon.navTheme {
        margin-top: 0.4em;
    }

    .btn.btnIcon.navHamburger {
        display: flex;
    }
}

/* ScrollTop Overwrite */
.btn.btnPlain.scrollTop {
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    width: 3em;
    border-radius: 10px;
}

.scrollTop>a {
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 300px) {
    .btn.btnPlain.scrollTop {
        display: none;
    }
}